/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# project files
/.idea/
fantasticstay_api.iml

# custom ignores
.env
*.gem
.irb_history
